## Extracting data from relational databases

### SQLite Database

#### import package

In [1]:
#import sqlite3 package
import sqlite3

#### connect to database

In [2]:
#create a connection to database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### create table

In [3]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
#execute query
cursor.execute(create_table)
# commit changes
connection.commit()

OperationalError: table classroom already exists

#### Insert data

In [4]:
# sample data
classroom_data = [(1,"Shaban","M",70, 84, 92),
                 (2,"Tana","F",87, 69, 93 ),
                 (3,"Shadiya","F",65, 83, 90),
                 (4,"Ibra", "M", 83,76,89)]

# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                 student[3],student[4],student[5])
    # execute insert query
    cursor.execute(insert_statement)
    
# commit the changes
connection.commit()
# close the connection
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

#### extract data

In [5]:
# open connection
connection = sqlite3.connect("classroomDb.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
# close connection
connection.close()

(1, u'Shaban', u'M', 70, 84, 92)
(2, u'Tana', u'F', 87, 69, 93)
(3, u'Shadiya', u'F', 65, 83, 90)
(4, u'Ibra', u'M', 83, 76, 89)

### MySQL database

#### install package

In [5]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\charmz\.conda\envs\v_env

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-0.9.3              |             py_0          41 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          41 KB

The following NEW packages will be INSTALLED:

  pymysql            conda-forge/noarch::pymysql-0.9.3-py_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

#### import package

In [1]:
# import package
import pymysql

#### connect to database

In [10]:
# Connection details
cnx = { #'host': 'database-1.cc1ryergdllk.us-east-2.rds.amazonaws.com',
        'host': 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com',
        #'username':'admin',
        'username':'test',
        #'password':'WClhlZkFqsKBq2skwmF3',
        'password':'test123456',
        'db':'classroomDB'
      }
# Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])

# close connection
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mysqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com' ([Errno 11001] getaddrinfo failed)")

#### create table

In [ ]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
               """
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

#### insert data

In [ ]:
# sample data
classroom_data = [(1,"Shaban","M",70, 84, 92),
                 (2,"Tana","F",87, 69, 93 ),
                 (3,"Shadiya","F",65, 83, 90),
                 (4,"Ibra", "M", 83,76,89)]
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                 student[3],student[4],student[5])
    # execute insert query
    cursor.execute(insert_statement)
    
# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [ ]:
# open connection
connection = sqlite3.connect("classroomDb.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
# close connection
connection.close()

## Microsoft SQL Server database

#### install package

In [6]:
!conda install -y -q pymssql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\charmz\.conda\envs\v_env

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    freetds-1.00.97            |       hcfb25f9_0         669 KB
    pymssql-2.1.4              |   py27h0c8e037_0         170 KB
    ------------------------------------------------------------
                                           Total:         839 KB

The following NEW packages will be INSTALLED:

  freetds            pkgs/main/win-64::freetds-1.00.97-hcfb25f9_0
  pymssql            pkgs/main/win-64::pymssql-2.1.4-py27h0c8e037_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

#### import package

In [11]:
import pymssql

#### connect to database

In [13]:
# Connection details
cnx = { #'host': 'database-1.cc1ryergdllk.us-east-2.rds.amazonaws.com',
        'host': 'mssqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:1433',
        #'username':'admin',
        'username':'test',
        #'password':'WClhlZkFqsKBq2skwmF3',
        'password':'test123456',
        'db':'tempDB'
      }
# Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])

# close connection
connection.close()

OperationalError: (2003, "Can't connect to MySQL server on 'mssqldb.c12wj3xlqsae.us-west-2.rds.amazonaws.com:1433' ([Errno 11001] getaddrinfo failed)")

#### create table

In [ ]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );
               """
# execute query
cursor.execute(create_table)
# commit changes
connection.commit()
# close connection
connection.close()

#### insert data

In [ ]:
# sample data
classroom_data = [(1,"Shaban","M",70, 84, 92),
                 (2,"Tana","F",87, 69, 93 ),
                 (3,"Shadiya","F",65, 83, 90),
                 (4,"Ibra", "M", 83,76,89)]
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],
                                                                 student[3],student[4],student[5])
    # execute insert query
    cursor.execute(insert_statement)
    
# commit the changes
connection.commit()
# close the connection
connection.close()

#### extract data

In [ ]:
# open connection
connection = sqlite3.connect("classroomDb.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for row in result:
    print(row)
# close connection
connection.close()